* {
  box-sizing: border-box;
}

body {
  background-color: #17181f;
  color: #ddd;
}

main{
  max-width: 360px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
}

form {
  margin-top: 20px;
}

form input {
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #444;
  padding:2px 5px;
  border-radius: 5px;
}

form input [type='datetime-local'] {
  color: #777
}

form div.basics {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

form button {
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ddd;
}

div.transactions {
  margin-top: 10px;
}

div.transaction {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1px solid #30313d;
}

div.transaction:first-child{
  border-top: 0;
}

div.transaction div.name {
  font-size: 1.3rem;
}

div.transaction div.description {
  font-size: 0.8rem;
  color: #888;
}

div.right {
  text-align: right;
}

div.price.green {
  color: #1c1
}

div.price.red {
  color: #c11;
}

div.transaction div.datetime {
  font-size: 0.7rem;
  color: #888
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
